.~ddp linguist-language=C++
.~dfm linguist-language=C++
.~h linguist-language=C++
.~cpp linguist-language=C++
.obj linguist-language=C++
.png linguist-language=C++
.bmp linguist-language=C++
.dll linguist-language=C++
.cpp linguist-language=C++
.ddp linguist-language=C++
.obj linguist-language=C++
